<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite1" parallel="instances" thread-count="20">
    <test name="Test1">
        <classes>
            <parameter name="testDefinition" value="/simpleTests.json"/>
            <class name="ca.on.oicr.pde.common.WorkflowRunTestFactory"/>
        </classes>
    </test>
</suite>